<!doctype html>

<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">-->

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="h-screen bg-gray-100">
    <div class="m-auto fixed inset-0 flex flex-col space-y-4 items-center w-96 h-96"
         id="names-binding">
        <label class="font-xs font-semibold text-gray-800"
               for="input">Please enter your name</label>
        <input class="rounded-lg border h-8 p-2
                      border-fuchsia-600 shadow-lg shadow-fuchsia-200/50
                      "
               type="text"
               id="input"
               v-model="newName"
        >
        <p>{{ newName }}</p>
        <button class="rounded border pd-6 w-24
                       bg-gray-400
                       hover:bg-cyan-400 hover:font-bold hover:text-white"
                v-on:click="addName">
            Enter
        </button>
        <div class="font-extralight text-md text-gray-800">
            <ul>
                <li v-for="name in names">
                    {{ name }}
                </li>
            </ul>
        </div>
    </div>

    <script>
        const Names = {
            data() {
                return {
                    newName: "",
                    show: false,
                    names: ["Tom", "Casey", "Randell"]
                }
            },
            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = ""
                }
            }
        }
        Vue.createApp(Names).mount('#names-binding');
    </script>
</div>

</body>
</html>
